<section class="cmspage mtb-40">
    <div class="container">
        <div class="error-404">
            <h1>404</h1>
            <h2>There is nothing here!</h2>
            <p>Sorry, the page you were looking for in this blog does not exist.</p>
            <button (click)="goToHome()" class="btn btn-danger">Go to Home</button>
        </div>
    </div>
</section>