
<section class="blog-detail mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-left">
          <h1>{{blog.title}}</h1>
          <div class="posted-on">
            <p>
              by <span>{{blog.author}}</span> on
              <span>{{blog.created_at | date:'mediumDate'}}</span>
            </p>
          </div>
          <div class="detail-img">
            <img src="{{blog.image}}" alt="{{blog.title}}" />
          </div>
          <div class="blog-desc" [innerHTML]="blog.description"></div>
        </div>
        <ng-template #loading>
          <div class="service-error">
            <h3>Error loading of the blog detail. Please try again later.</h3>
          </div>
        </ng-template>
      </div>
      <div class="col-md-4">
        <app-blogpost-recent></app-blogpost-recent>
        <app-categories></app-categories>
      </div>
    </div>
  </div>
</section>
