<div class="right-widget categories">
    <h3>Categories</h3>
    <ul>
        <li *ngFor="let category of categories" [class.selected]="category === selectedCategory" (click)="onselect(category)">
            <span class="category">{{category.id}}</span> {{category.name}}
        </li>
    </ul>

    <div *ngIf="selectedCategory">
        <h2>{{selectedCategory.name | uppercase}} details</h2>
        <div><span>id:</span> {{selectedCategory.id}}</div>

        <div>
            <label>Name:
                <input placeholder="name"/>
            </label>
        </div>
    </div>
</div>